init_config:

instances:
  - whatever: anything

logs:
  - type: file
    path: /home/vagrant/logrotate/tail.log
    service: custom
    source: custom
    tags: env:demo,test

  - type: tcp
    logset: playground2
    port: 10514

  - type: udp
    logset: playground2
    port: 10515

  - type: docker
    image: myapp
    image_name: myapp
    image_tag: latest
    image_registry: ecs.aws.com
    label: toto.tata (exists)